.shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 33.33%;
    height: 100vh;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transform: translateY(-20%);
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }

.shopping-cart.visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.shopping-cart.hidden {
  transform: translateY(-20%);
  opacity: 0;
  visibility: hidden;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart-header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 24px; /* Larger font size */
  font-weight: bold;
  color: #333;
}

.shopping-cart .close-btn {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.shopping-cart ul {
  list-style: none;
  padding: 0;
}

.shopping-cart li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.empty-cart-message {
  margin-top: 50px; /* Adjust margin top to center the message vertically */
}

.empty-cart-message p {
  color: #007bff; /* Blue color */
  font-size: 18px; /* Adjust font size */
}

.cart-items-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  margin-bottom: 20px; /* Increased margin between items */
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px; /* Increased padding between item details */
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
}

.item-info {
  flex: 1; /* Takes up all available space */
}

.item-count,
.item-total-cost {
  flex: 0 0 auto; /* Does not grow, does not shrink, initial size */
  margin-left: 10px; /* Adjust spacing between elements */
}

.remove-btn-container {
  margin-top: 20px; /* Increased space between item details and Remove button */
}

.remove-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 8px 16px; /* Adjust button padding */
  cursor: pointer;
  border-radius: 4px;
}

.cart-summary {
  margin-top: 20px;
}

.cart-summary .total-message {
  font-size: 20px; /* Larger font size */
  font-weight: bold; /* Bold text */
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.clear-cart-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}